/bin/
/docs/SubSkipperDoc.aux
/docs/SubSkipperDoc.log
/docs/SubSkipperDoc.out
/docs/SubSkipperDoc.synctex.gz
/docs/SubSkipperDoc.tex
/docs/SubSkipperDoc.tex.bak
/docs/SubSkipperDoc.toc
/target/
/logs/
/docs/SubSkipperSrc/
*.nfo
*.class
