.wrapper {
	background-color: red;
	width: 90%;
	margin-left: 5%;
}

.header {
	background-color: black;
	color: white;
	border-width: 1px;
	border-color: red;
	text-align: center;
}

.name {
	width: 300px;
}

.disp {
	width: 100px;
}

.speed {
	width: 100px;
}

.length {
	width: 100px;
}

.height {
	width: 100px;
}

.draft {
	width: 100px;
}

.aspect {
	width: 100px;
}

.shipRow {
	border-width: 1px;
	border-color: green;
	background-color: grey;
}

.AOBRow {
	border-width: 1px;
	border-color: pink;
	background-color: orange;
}

.deg {
	border-style: solid;
	border-width: 1px;
	border-color: red;
	width: auto;
}

.cell {
	display: table-cell;
}