* {
  box-sizing: border-box; }

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: white;
	background-color: black;
  }
	.wrapper{
		
	position: absolute;
	top: 0px;
	width: 90%;
	min-height:100%;
	border-radius: 25px;
    border: 2px solid white;
	text-align: center;
	display: table;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
		
	}
  
    #headerDiv {
	position: relative;
	top: 10px;
    border-radius: 25px;
    border: 2px solid white; 
    min-height: 200px; 
	margin: 20px 20px 20px 20px;
	
}
  
  .contentDiv {	
	position: relative;
	bottom: 0px;
    border-radius: 25px;
    border: 2px solid white;
    min-height: 400px;
	width: calc(50% - 30px);
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#leftColumn
{
float: left;
margin-right: 20px;
margin-left: 20px;
}

#rightColumn
{
	float: right;
	margin-left: 0;
	margin-right: 20px;
}
  
.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: black;
  background-color: grey;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn { margin-left: 1rem; }

.btn:hover {
  color: black;
  background-color: yellow;
  border-color: white;
}

#footer {
	
	float: left;
	bottom:0;
	border-radius: 25px;
    border: 2px solid white;
	min-width: calc(100% - 40px);
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}
