<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info" strict="true">
    <Properties>
        <Property name="filename">./log/SubSkipper.log</Property>
        <Property name="pattern"></Property>
    </Properties>
    <Appenders>
        <Appender type="Console" name="Console">
            <Layout type="PatternLayout"
                    pattern="[%-7p] [%d{dd/MM/yyyy HH:mm:ss,SSS}] %c{1}:%L (%t) - %m%n"/>
        </Appender>

        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout"
                    pattern="[%-7p] [%d{dd/MM/yyyy HH:mm:ss,SSS}] %c{1}:%L (%t) - %m%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>